<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>Todo List</title>
  </head>
  <body>
    <header>
      <div class ="container">
      <h1>Todo List</h1>
      <a href="/todos/add"> Add Todo</a>
      <hr>
    </div>
    </header>
    <div class="container">




<a href="/todos"><< Go Back</a>

    <h1>{{todos.title}}</h1>
    <br>

    <p>{{todos.text}}</p>

    Created on {{todos.created_at}}
      </div>
  </body>
  </html>
