<div class="container">
  <br>
  <br>
{%include 'partials/header.html' %}
    <ul>
      {% for todo in todos %}<br>


      <li>
      <h3>  <a href="/todos/details/{{todo.id}}">{{todo.title}}</a>&nbsp;:&nbsp;{{todo.text}} </h3>
        <h3>{{todo.email}}</h3>
        <h3>{{todo.city}}</h3>
        <h3>{{todo.date}}</h3>
        <a href="{% url 'edit' todo.pk %}">
          <button type="button"   class="btn btn-primary btn-lg">Edit</button>
      </a>&nbsp;&nbsp;
      <a href="{% url 'delete' todo.pk %}"> &nbsp;&nbsp;
        <button type="button" class="btn btn-default btn-lg">Delete</button>
      </li>


      {% endfor %}
{%include 'partials/footer.html' %}
</div>
